body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.contact-info {
    text-align: center;
    margin-top: 10px;
}

.contact-info a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

.container {
    display: flex;
}

nav {
    width: 20%;
    background-color: #f4f4f4;
    padding: 20px;
    position: sticky;
    top: 0;
    height: 100vh;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 20px; /* Increase the margin-bottom value for more space */
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px; /* Increase the font size to match h2 */
    font-weight: bold; /* Make the navigation items bold */
}

main {
    width: 80%;
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: inline-block;
    margin-bottom: 10px;
}

a {
    color: #333;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}