body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px; /* Reduce padding to make the header less tall */
    text-align: center;
}

h1 {
    font-size: 2rem; /* Adjust font size */
    margin-bottom: 5px; /* Reduce margin to decrease space below the name */
}

/* Style for the logo/image */
.logo {
    display: block;
    margin: 0 auto;
    max-width: 80px; /* Adjust size as needed */
    height: auto;
}

/* Style for the professional title */
.professional-title {
    font-size: 1rem; /* Adjust font size if needed */
    margin-top: -10px;
    margin-bottom: 10px; /* Reduce margin to decrease space around the title */
    color: #fff;
}

.contact-info {
    text-align: center;
    margin-top: 10px;
}

.contact-info a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 0 5px; /* Adjust padding to control space around contact info */
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-info a:hover {
    color: #f4f4f4;
}

.contact-info a:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.container {
    display: flex;
}

nav {
    width: 20%;
    background-color: #f4f4f4;
    padding: 20px;
    position: sticky;
    top: 0;
    height: 100vh;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #555;
}

main {
    width: 80%;
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #555;
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

main section {
    animation: fadeIn 0.5s ease-in-out;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    nav {
        width: 100%;
        height: auto;
        position: static;
    }

    main {
        width: 100%;
    }
}
